# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# macOS Junk Files
.DS_Store

# npm dependencies
node_modules/
*/target

# Rust
.rustfmt.*

# Scripts
manual_bininspect_update.nu
